@model PinballTourneyApp.ViewModels.AddVenueViewModel

<head>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBQjho1M1-m4ujW3d9ogXm9dBAjbG8FxkQ"></script>
    <script>
            var autocomplete;
            function initialize() {
              autocomplete = new google.maps.places.Autocomplete(
                  (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
            }
    </script>
</head>

<body onload="initialize()">

<h1>Add Venue</h1>

<form asp-controller="Venue" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div id="locationField" class="form-group">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" id="autocomplete" placeholder="Enter Venue Address" onFocus="geolocate()" type="text">
        <span asp-validation-for="Address"></span>
    </div>

    <input type="submit" value="Add Venue" />

</form>

</body>
