@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome</h1>
<p>Please <a asp-controller="Home" asp-action="Login">Login</a> or <a asp-controller="User" asp-action="Add">Register</a> a new account to begin using PinballTourneyApp.